# See https://atom.io/docs/latest/creating-a-package#menus for more details
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Less'
      'submenu': [
        { 'label': 'Toggle Preview', 'command': 'less-preview:toggle' }
      ]
    ]
  }
]
